<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/adminlte.min.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid main-div bg">
    <div class="hero-h1-area d-flex align-items-end pl-3">
        <div class="w-100">
            <h1 class="hero-h1">배달을 통해 매출을 확 늘려보세요.</h1>
            <h1 class="hero-h1">더 빠르고, 정확하게</h1>
        </div>
    </div>
    <div class="bottom-btn-area align-items-start pl-3">
        <button type="button" class="btn btn-light btn-lg mr-2" name="signup-btn">회원가입</button>
        <button type="button" class="btn btn-light btn-lg" name="login-btn">로그인</button>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/home/home.js"></script>
</body>
</html>